nodered.json
[{"id":"281d647c.b3b4a4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"130b617a.9241ff","type":"aws-iot-device","z":"","name":"test iot aws","mode":"broker","clientId":"Pi","endpoint":"data.iot.us-west-2.amazonaws.com","awscerts":"/root/.agent/certs"},{"id":"6d8f7e4d.94525","type":"mqtt-broker","z":"","name":"","broker":"mqtt.cmmc.io","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f7797faa.ad757","type":"google-iot-core-broker","z":"","name":"test-iot","broker":"mqtt.googleapis.com","port":"8883","tls":"1a755d7.50d55a3","clientid":"projects/test-iot-207609/locations/asia-east1/registries/device-1/devices/test-device-1","projectid":"test-iot-207609","registryid":"device-1","deviceid":"test-device-1","region":"asia-east1","verifyservercert":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":"","persistout":true,"persistin":true,"compactinterval":"30"},{"id":"1a755d7.50d55a3","type":"tls-config","z":"","name":"RS256","cert":"","key":"","ca":"","certname":"rsa_cert.pem","keyname":"rsa_private.pem","caname":"","verifyservercert":true},{"id":"b3c7da4f.7f7398","type":"google-cloud-credentials","z":"","name":"key"},{"id":"f35375e9.bcf448","type":"debug","z":"281d647c.b3b4a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":350,"y":440,"wires":[]},{"id":"42c9f6df.64ad58","type":"aws-mqtt out","z":"281d647c.b3b4a4","device":"130b617a.9241ff","topic":"xxx","qos":"0","x":650,"y":240,"wires":[]},{"id":"73991317.a0f9fc","type":"mqtt in","z":"281d647c.b3b4a4","name":"","topic":"CMMC/LIGHT-SWITCH/status","qos":"2","broker":"6d8f7e4d.94525","x":180,"y":280,"wires":[["a1f67fce.11d18","16743422.7bb33c"]]},{"id":"bd5abfe3.35dd5","type":"aws-mqtt in","z":"281d647c.b3b4a4","device":"130b617a.9241ff","topic":"zxc/1","x":150,"y":180,"wires":[[]]},{"id":"a1f67fce.11d18","type":"function","z":"281d647c.b3b4a4","name":"","func":"msg.topic = undefined;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":280,"wires":[[]]},{"id":"43137f13.ce159","type":"google-iot-core in","z":"281d647c.b3b4a4","name":"Device 1 test test","qos":"1","broker":"f7797faa.ad757","x":130,"y":440,"wires":[["f35375e9.bcf448"]]},{"id":"b6ccfa65.8bfc58","type":"google-iot-core out","z":"281d647c.b3b4a4","name":"test-iot","qos":"1","retain":"","broker":"f7797faa.ad757","x":460,"y":540,"wires":[]},{"id":"8e2e5040.a07a6","type":"debug","z":"281d647c.b3b4a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":480,"wires":[]},{"id":"16743422.7bb33c","type":"function","z":"281d647c.b3b4a4","name":"","func":"msg.topic = \"test-iot\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":540,"wires":[[]]}]